.alumno-messages__container {
    padding: 10px;
    display: grid;
    row-gap: 25px;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 400px));
    grid-template-rows: repeat(3, auto);
    grid-auto-rows: auto;
    height: 90vh;
    overflow-y: auto;
    justify-content: space-around;
}

.alumno-messages__content {
    display: flex;
    /* background: royalblue; */
    flex-direction: column;
    width: 400px;
    border-radius: 0 0 10px 10px;
    height: 240px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.alumno-messages__body_container {
    padding: 0 10px;
    height: 20%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height 400ms ease-in;
}

.alumno-messages__body_container label {
    width: 100%;
    padding: 4px 0;
    font-size: 20px;
}

.alumno-messages__body_container p {
    padding: 5px 0;
    text-align: justify;
}

.image_container {
    position: relative;
    height: 80%;
}

.image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.message_btn_down {
    width: min-content;
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 2px;
    position: absolute;
    bottom: -7%;
    right: 0;
    transition-property: transform, color;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(.6, -0.28, .74, .05);
}

.message_btn_down_rotate {
    transform: rotate(180deg);
    z-index: 101;
    color: #fffb00;
    border-radius: 50%;
    border: 1px solid;
}

.alumno-messages__body_container_show {
    overflow: visible;
    height: 400px;
    background: #36D1DC;
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    background: linear-gradient(to bottom, #5B86E5, #36D1DC);
    border-radius: 0 0 10px 10px;
    max-height: 800px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    z-index: 100;
}

#notificationMarker {
    width: 12px;
    height: 12px;
    display: block;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}


/* inputs file style */

.container-input {
    background: var(--main-bg-color);
    width: max-content;
    padding: 3px;
    margin-top: 10px;
}

.inputfile {
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    padding: 6px;
    border-radius: 6px;
}

.inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
    font-size: 16px;
}

.inputfile-1+label {
    color: #fff;
    width: 100%;
}

.inputfile-1:focus+label,
.inputfile-1.has-focus+label,
.inputfile-1+label:hover {
    background-color: #006efd;
}


/*mensajes-section estilos*/

section {
    position: relative;
    top: 42px;
}

dl {
    margin: 5px 15px;
    font-size: 20px;
}

dt {
    font-family: 'Zilla Slab', serif;
    font-weight: 800;
    padding: 2px;
    margin-left: 31px;
}

.contenedor::before {
    margin: 2px 0 0 2px;
    position: absolute;
    content: counter(my-awesome-counter);
    color: #0063fd;
    font-weight: 800;
    font-size: 25px;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

dd {
    font-family: 'Zilla Slab', serif;
    margin-top: 3px;
}

.ver-mas {
    width: max-content;
    padding: 5px;
    background: #0d47a1;
    color: white;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.contenedor {
    position: relative;
    counter-increment: my-awesome-counter;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.mensaje-container {
    position: relative;
    left: -200%;
    opacity: 0;
    background: #ffffff;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 100;
    top: -5px;
    overflow: auto;
    transition: all 1s ease;
}

#btnClose {
    font-size: 23px;
    float: right;
    padding: 1px;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    height: min-content;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

.mensaje-informacion {
    width: min-content;
    flex-grow: 1;
    padding: 8px;
}

.mensaje-informacion p,
.mensaje-informacion label {
    flex-grow: 1;
    padding: 3px;
}

.mensaje_body {
    background: rgb(255, 255, 255);
    padding: 5px;
    margin: 11px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    text-align: justify;
    font-family: 'Zilla Slab', serif;
}

.figure {
    height: max-content;
    text-align: center;
}

#image {
    object-fit: scale-down;
    object-position: center;
    position: relative;
    margin: auto;
    width: 100%;
}

label {
    display: block;
    width: 100%;
}

#documento {
    margin: auto;
    text-align: center;
    display: block;
    transition: transform 500ms;
    width: max-content;
    padding: 5px;
    border-radius: 10px;
}

#documento:active {
    transform: scale(.9);
    background: #0d47a1;
    color: white;
}

.warning-container {
    background: url(https://estudiantes.ittg.edu.mx/static/img/tecnm.f36b3f5.png);
    background-size: contain;
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
}

.warning-container p {
    font-size: 23px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

@media screen and (min-width:650px) {
    #btnClose {
        font-size: 30px;
    }
    #image {
        width: 70%;
    }
    .contenedor::before {
        font-size: 30px;
        width: 35px;
        height: 35px;
    }
}