:root {
    --main-bg-color: #0d47a1;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
}

.nav i {
    opacity: 0;
    height: 0;
    width: 0;
}

.header_container {
    height: 10vh;
}

.menu-list {
    height: 60px;
    position: relative;
    display: flex;
    background: var(--main-bg-color);
    justify-content: space-between;
}

.menu-list__item {
    list-style: none;
    min-width: min-content;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin: 2px;
    padding: 5px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    flex-grow: 1;
    background: var(--main-bg-color);
    z-index: 100;
    transition-property: top;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.text {
    /* position: absolute;
    left: 0;
    bottom: -100%; */
    width: 100%;
    font-size: 20px;
    transition: bottom 400ms ease-in;
    text-decoration: none;
    color: rgb(255, 255, 255);
    list-style: none;
}

.menu-list__item:hover {
    border-radius: 5px 5px 0 0;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.281);
    top: -10px;
    color: rgb(251, 255, 35);
}


/* .menu-list__item:hover>.text {
    bottom: 10%;
} */

.menu-list__item::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 8%;
    bottom: 0;
    left: 50%;
    border-radius: 0 5px;
    z-index: -1;
    transition-property: left, width;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-list__item:hover::after {
    width: 100%;
    left: 0;
    bottom: -15%;
    background: rgb(0, 0, 0);
}

.account_cotainer {
    display: none;
}

@media screen and (min-width:650px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .header_container {
        position: relative;
        height: 60px;
        background: var(--main-bg-color);
        padding: 3px;
    }
    .account_cotainer {
        display: block !important;
        width: max-content;
        float: right;
        margin-right: 17px;
        position: relative;
        z-index: 1000;
    }
    .image-profile_container {
        display: flex;
        align-items: center;
    }
    .image-profile_container span {
        padding: 4px;
        color: rgb(255, 255, 255);
    }
    .image-profile_container img {
        width: 50px;
        height: 50px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
        float: right;
        align-self: flex-end;
    }
    .account_cotainer ul {
        list-style: none;
        width: 100%;
        min-width: max-content;
    }
    .account_cotainer ul li {
        background: royalblue;
        padding: 5px;
        margin-bottom: 3px;
        border-radius: 16px;
        width: 100%;
    }
    .account_cotainer a {
        text-decoration: none;
        color: black;
    }
    .account_cotainer i {
        position: absolute;
        right: -19px;
        bottom: -9px;
        font-size: 33px;
        color: rgb(255, 255, 255);
    }
    .menu2-container {
        display: none;
        position: absolute;
        top: 0;
        right: -10%;
        animation: rotate 350ms cubic-bezier(.17, .67, 1, 1.23) 1 forwards;
        z-index: -1;
    }
    .showMenu2 {
        display: block !important;
    }
    @keyframes rotate {
        0% {
            top: 0;
        }
        100% {
            top: 120%;
        }
    }
    i:hover {
        cursor: pointer;
    }
    .nav {
        width: min-content;
    }
    .nav i {
        width: 100%;
        opacity: 1;
        position: relative;
        z-index: 10;
        font-size: 30px;
        padding: 10px;
        color: wheat;
        margin: 3px;
    }
    .navigation_alternate_color {
        color: yellow !important;
    }
    .menu-container {
        top: 0;
        left: -100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.212);
        height: 100vh;
        align-items: flex-start;
        position: absolute;
        z-index: 2;
        transition-property: left;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .navigation_show {
        left: 0 !important;
    }
    .menu-content {
        width: 500px;
        height: 100vh;
        position: relative;
        z-index: 100;
        overflow: hidden;
    }
    .menu-list {
        padding: 20px;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        background: var(--main-bg-color);
        justify-content: flex-start;
    }
    .menu-list__item {
        overflow: visible;
        font-size: 25px;
        padding: 10px;
        margin-bottom: 10px;
        border: 0;
        min-width: 50px;
        position: relative;
        flex-grow: 0;
    }
    .menu-list__item:hover {
        content: none;
    }
    .text {
        padding: 10px;
        position: absolute;
        font-size: 20px;
        transition: bottom 400ms ease-in;
        width: max-content;
        top: 0;
        left: 53%;
    }
    .menu-list__item:hover {
        border: 0;
        box-shadow: none;
        top: 0;
        color: rgb(251, 255, 35);
    }
    .menu-list__item::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 8%;
        bottom: 0;
        left: 50%;
        border-radius: 0 5px;
        z-index: -1;
        transition-property: left, width;
        transition-duration: 1500ms;
        transition-delay: 350ms;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .menu-list__item:hover::after {
        width: 200%;
        left: -50%;
        bottom: -15%;
        background: rgb(0, 0, 0);
    }
}