:root {
    --main-bg-color: #0d47a1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* dashboard-actores */

.dashboard-EmisorRevisor__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: 400px;
    grid-auto-rows: max-content;
    padding: 10px;
    gap: 20px;
    margin: auto;
    min-width: max-content;
    justify-content: center;
    position: relative;
    top: 42px;
}

.dashboard-EmusorRevisor__infMensajes,
.dashboard-EmisorRevisor__carrerasMensajes {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    box-shadow: -2px 1px 5px rgba(83, 83, 83, 0.438);
}

.dashboard-EmusorRevisor__infMensajes {
    align-items: center;
}

.img-dashboard {
    width: 150px;
}

.lbl__info {
    width: 100%;
    padding: 4px;
    font-size: 15px;
    font-weight: 800;
}

.btn__verMensajes {
    margin: auto;
    text-decoration: none;
    color: white;
    padding: 8px;
    background-color: blue;
    border-radius: 15px;
    width: 80%;
    text-align: center;
}

.list__carreras {
    padding: 0 10px;
    width: max-content;
    margin: auto;
}

.list__carreras li {
    padding: 3px;
    font-size: 17px;
    border-bottom: 1px solid;
}


/* difusor */

.dashboard-difusor__contianer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content 1fr;
    grid-row-gap: 10px;
    width: 98vw;
    min-width: 300px;
    overflow: auto;
    height: 80vh;
    padding: 10px;
    position: relative;
    top: 42px;
}

.dashboard-difusor__mensajes {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.dashboard-difusor__mensajes img {
    align-self: center;
}

.dashboard-difusor__alumnos {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.dashboard-difusor__alumnos img {
    width: 25%;
}

.dashboard-difusor__carrerasMensajes {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
    overflow: auto;
}


/* informatico */

.dashboard-informatico {
    height: 100%;
    margin-top: 20px;
}

.dashboard-informatico__container {
    background: var(--main-bg-color);
}

.container-slider {
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    position: relative;
    background: rebeccapurple;
    padding: 10px;
}

.slider {
    height: 400px;
    width: 900%;
    display: flex;
}

.slider__section {
    width: 100%;
    margin: 2px;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    font-size: 40px;
    background: rgb(255, 255, 255);
    top: 50%;
    cursor: pointer;
    border-radius: 50%;
}

.slider__btn--right {
    right: 0px;
}

.add-career {
    margin: auto;
    font-size: 28px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    padding: .5px;
}

.delete-career {
    float: right;
    font-size: 17px;
    background: transparent;
    border: 0;
    padding: 2px;
    cursor: pointer
}

.deleteCareer {
    position: relative;
    z-index: 1000;
}

.addCareer-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform: scale(0);
    opacity: 0;
    transition-property: all;
    transition-duration: 700ms;
    transition-delay: 100ms;
}

.closeWindow {
    font-size: 25px;
    cursor: pointer;
    width: min-content;
    align-self: end;
}

.form-addCareer {
    margin: auto;
    width: 300px;
    min-width: 200px;
    background: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.form-addCareer__input {
    padding: 3px;
    margin: 5px;
}

.addCareer__show {
    transform: scale(1);
    z-index: 9;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.301);
    transition-property: all;
    transition-duration: 700ms;
    transition-delay: 100ms;
    backdrop-filter: blur(1px);
}

.alumnos-carreras__ingenierias label {
    position: relative;
    z-index: 9;
    padding: 3px;
}

.total-usuarios {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 88%;
    margin: auto;
    margin-top: 20px;
}

.total-usuarios__container {
    display: flex;
    flex-wrap: wrap;
}

.total-usuarios__container div {
    flex-grow: 1;
    text-align: center;
}

.total-usuarios__lbl_total {
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.total-usuarios__lbl {
    padding: 3px;
    border-bottom: 1px solid;
}

.total-usuarios__img {
    width: 100px;
}

.btn__verUsuarios {
    margin: 6px auto;
    text-decoration: none;
    color: white;
    padding: 8px;
    background-color: var(--main-bg-color);
    border-radius: 15px;
    width: 30%;
    text-align: center;
}


/* _______________ */

.carousel__contenedor {
    position: relative;
    width: 90vw;
    margin: auto;
    height: min-content;
}

.carousel__anterior,
.carousel__siguiente {
    position: absolute;
    display: block;
    top: calc(50% - 20px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: white;
    color: rgb(0, 0, 0);
    z-index: 3;
    border-radius: 50%;
    font-size: 30px;
}

.carousel__siguiente {
    right: -3%;
}

.carousel__anterior {
    left: -3%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
    opacity: 100%;
}

.carousel__lista {
    overflow: hidden;
    height: 100%;
}

.carousel__elemento {
    position: relative;
    height: 80px !important;
    padding: 2px;
}

.carousel__elemento label {
    position: relative;
    z-index: 2;
    width: 100%;
    display: block;
    text-align: center;
}

.img-logoCarrera {
    position: absolute;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
    width: 15%;
    display: block;
    top: 0;
}

.carousel__indicadores .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: rgb(0, 0, 0);
    border-radius: 0;
}

.menu-container {
    left: -100%;
    width: 100%;
    background: #00000036;
    height: 100vh;
    position: absolute;
    transition-property: left;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 100;
}

.menu-list__item {
    display: block !important;
    margin-bottom: 10px;
    border: 0;
    list-style: none;
    position: relative;
    padding: 5px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.header_container {
    position: fixed;
    background: var(--main-bg-color);
    width: 100vw;
    z-index: 1000;
    top: 0;
}

i:hover {
    cursor: pointer;
}

.nav1 {
    width: min-content;
}

.nav1 i {
    position: relative;
    z-index: 10;
    font-size: 30px;
    padding: 3px;
    color: rgb(255, 255, 255);
    margin: 3px;
    z-index: 100;
}

.navigation_alternate_color {
    color: yellow !important;
}

.navigation_show {
    left: 0 !important;
    position: fixed;
}

.menu-content {
    width: 50vw;
    height: 100vh;
    background: var(--main-bg-color);
    min-width: 200px;
}

.menu-list {
    padding: 20px;
    height: 100%;
}

.text {
    padding: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.menu-list__item:hover,
.menu-list__item a:hover {
    border: 0;
    box-shadow: none;
    top: 0;
    color: rgb(251, 255, 35);
}


/* .menu-list__item::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 8%;
    bottom: 0;
    left: 50%;
    border-radius: 0 5px;
    z-index: -1;
    transition-property: left, width;
    transition-duration: 1500ms;
    transition-delay: 350ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-list__item:hover::after {
    width: 200%;
    left: -50%;
    bottom: -15%;
    background: rgb(0, 0, 0);
} */

#personalInformation {
    left: -100%;
    position: absolute;
    transition-property: left;
    transition-duration: 900ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 10;
    transition-delay: 300ms;
}

.image-profile_container {
    width: 100%;
    height: max-content;
    padding-top: 10px;
}

.imgP {
    width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center center;
    height: 100%;
}

.img1 {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    overflow: hidden;
}

.image-profile_container label {
    display: block;
    padding: 4px;
    color: white;
    font-size: 18px;
    margin-left: 5px;
    text-align: center;
    font-weight: bold;
}

.btnF {
    background: white;
    color: black !important;
    margin: 0 !important;
    cursor: pointer;
    transition: transform 400ms;
}

#btnA {
    background: white;
    color: black;
    margin: auto;
    margin-top: auto;
    cursor: pointer;
    transition: transform 400ms;
    margin-top: 7px;
    border: 0;
    padding: 5px;
    border-radius: 12px;
    font-size: 16px;
    width: 90%;
}

.btnF:active,
#btnA:active {
    transform: scale(.9);
}

.input {
    padding: 5px;
    width: 80%;
    border: 0;
    border-radius: 7px;
    font-size: 15px;
}

.input:disabled {
    background: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    font-size: 15px;
}

@media screen and (min-width:650px) {
    /* dashboard-actores */
    .dashboard-difusor__contianer {
        grid-template-columns: 300px 1fr;
        grid-template-rows: repeat(3, 150px);
        grid-gap: 10px;
        width: 80vw;
        height: auto;
        margin: 25px auto;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
    .dashboard-difusor__mensajes {
        grid-row: span 3;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .dashboard-difusor__mensajes img {
        align-self: center;
    }
    .dashboard-difusor__alumnos {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .dashboard-difusor__alumnos img {
        width: 15%;
    }
    .dashboard-difusor__carrerasMensajes {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        grid-row: span 2;
    }
    .dashboard-informatico__container {
        padding: 10px;
        background: var(--main-bg-color);
        height: min-content;
    }
    .total-usuarios {
        width: 50%;
        background: rgb(255, 255, 255);
        margin: auto;
        margin-top: 20px;
    }
    .carousel__indicadores .glider-dot {
        display: block;
        width: 12px;
        height: 12px;
        background: rgb(138, 137, 137);
        opacity: .2;
        border-radius: 50%
    }
    .carousel__indicadores .glider-dot:hover {
        opacity: .5;
    }
    .carousel__indicadores .glider-dot.active {
        opacity: 1;
    }
    .menu-content {
        width: 350px;
    }
    /* _____________ */
}