:root {
    --main-bg-color: #0d47a1;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
}

.nav1 i {
    opacity: 0;
    height: 0;
    width: 0;
}

.header_container {
    height: 10vh;
}

.menu-list {
    height: 60px;
    position: relative;
    display: flex;
    background: var(--main-bg-color);
    justify-content: space-between;
}

.menu-list__item {
    list-style: none;
    min-width: min-content;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin: 2px;
    padding: 5px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    flex-grow: 1;
    background: var(--main-bg-color);
    z-index: 100;
    transition-property: top;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.text {
    /* position: absolute;
    left: 0;
    bottom: -100%; */
    width: 100%;
    font-size: 20px;
    transition: bottom 400ms ease-in;
    text-decoration: none;
    color: rgb(255, 255, 255);
    list-style: none;
}

.menu-list__item:hover {
    border-radius: 5px 5px 0 0;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.281);
    top: -10px;
    color: rgb(251, 255, 35);
}


/* .menu-list__item:hover>.text {
    bottom: 10%;
} */

.menu-list__item::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 8%;
    bottom: 0;
    left: 50%;
    border-radius: 0 5px;
    z-index: -1;
    transition-property: left, width;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-list__item:hover::after {
    width: 100%;
    left: 0;
    bottom: -15%;
    background: rgb(0, 0, 0);
}

.account_cotainer {
    display: none;
}


/* dashboard-actores */

.dashboard-EmisorRevisor__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: 400px;
    grid-auto-rows: max-content;
    padding: 10px;
    gap: 20px;
    margin: auto;
    min-width: max-content;
    justify-content: center;
}

.dashboard-EmusorRevisor__infMensajes,
.dashboard-EmisorRevisor__carrerasMensajes {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    box-shadow: -2px 1px 5px rgba(83, 83, 83, 0.438);
}

.dashboard-EmusorRevisor__infMensajes {
    align-items: center;
}

.img-dashboard {
    width: 150px;
}

.lbl__info {
    width: 100%;
    padding: 4px;
    font-size: 15px;
    font-weight: 800;
}

.btn__verMensajes {
    margin: auto;
    text-decoration: none;
    color: white;
    padding: 8px;
    background-color: blue;
    border-radius: 15px;
    width: 80%;
    text-align: center;
}

.list__carreras {
    padding: 0 10px;
}

.list__carreras li {
    padding: 3px;
    font-size: 17px;
    border-bottom: 1px solid;
}


/* difusor */

.dashboard-difusor__contianer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content 1fr;
    grid-row-gap: 10px;
    width: 98vw;
    min-width: 300px;
    overflow: auto;
    height: 80vh;
    padding: 10px;
}

.dashboard-difusor__mensajes {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.dashboard-difusor__mensajes img {
    align-self: center;
}

.dashboard-difusor__alumnos {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.dashboard-difusor__alumnos img {
    width: 25%;
}

.dashboard-difusor__carrerasMensajes {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
}


/* informatico */

.dashboard-informatico {
    height: 100%;
}

.dashboard-informatico__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: min-content;
    position: relative;
}

.alumnos-carreras__container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    padding: 5px;
    width: 100%;
    align-self: center;
    background: var(--main-bg-color);
}

.alumnos-carreras__ingenierias {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    padding: 8px 5px;
    border-radius: 7px;
    text-align: center;
}

.total-usuarios {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 97%;
}

.total-usuarios__container {
    display: flex;
    flex-wrap: wrap;
}

.total-usuarios__container div {
    flex-grow: 1;
    text-align: center;
}

.total-usuarios__lbl_total {
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.total-usuarios__lbl {
    padding: 3px;
    border-bottom: 1px solid;
}

.total-usuarios__img {
    width: 100px;
}

.btn__verUsuarios {
    margin: 6px auto;
    text-decoration: none;
    color: white;
    padding: 8px;
    background-color: var(--main-bg-color);
    border-radius: 15px;
    width: 30%;
    text-align: center;
}


/* _______________ */

@media screen and (min-width:650px) {
    /* dashboard-actores */
    .dashboard-difusor__contianer {
        grid-template-columns: 300px 1fr;
        grid-template-rows: repeat(3, 150px);
        grid-gap: 10px;
        width: 80vw;
        height: auto;
        margin: 25px auto;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
    .dashboard-difusor__mensajes {
        grid-row: span 3;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .dashboard-difusor__mensajes img {
        align-self: center;
    }
    .dashboard-difusor__alumnos {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .dashboard-difusor__alumnos img {
        width: 15%;
    }
    .dashboard-difusor__carrerasMensajes {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        grid-row: span 2;
    }
    .dashboard-informatico__container {
        padding: 10px;
        background: var(--main-bg-color);
        height: 200px;
    }
    .alumnos-carreras__container {
        width: 70%
    }
    .total-usuarios {
        width: 50%;
        background: rgb(255, 255, 255);
        margin-top: 40px;
    }
    /* _____________ */
    body {
        display: flex;
        flex-direction: column;
    }
    .header_container {
        position: relative;
        height: 60px;
        background: var(--main-bg-color);
    }
    .account_cotainer {
        display: block !important;
        width: max-content;
        float: right;
        margin-right: 30px;
        position: relative;
        z-index: 1000;
    }
    .image-profile_container {
        display: flex;
        align-items: center;
        padding: 3px 0;
    }
    .image-profile_container span {
        padding: 4px;
        color: rgb(255, 255, 255);
    }
    .image-profile_container img {
        width: 50px;
        height: 50px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
        float: right;
        align-self: flex-end;
    }
    .account_cotainer ul {
        list-style: none;
        width: 100%;
        min-width: max-content;
    }
    .account_cotainer ul li {
        background: royalblue;
        padding: 5px;
        margin-bottom: 3px;
        border-radius: 16px;
        width: 100%;
    }
    .account_cotainer a {
        text-decoration: none;
        color: black;
    }
    .account_cotainer i {
        position: absolute;
        right: -19px;
        bottom: -9px;
        font-size: 33px;
        color: rgb(255, 255, 255);
    }
    .menu2-container {
        display: none;
        position: absolute;
        top: 0;
        right: -10%;
        animation: rotate 350ms cubic-bezier(.17, .67, 1, 1.23) 1 forwards;
        z-index: -1;
    }
    .showMenu2 {
        display: block !important;
    }
    @keyframes rotate {
        0% {
            top: 0;
        }
        100% {
            top: 120%;
        }
    }
    i:hover {
        cursor: pointer;
    }
    .nav1 {
        width: min-content;
    }
    .nav1 i {
        width: 100%;
        opacity: 1;
        position: relative;
        z-index: 10;
        font-size: 30px;
        padding: 10px;
        color: wheat;
        margin: 3px;
        z-index: 100;
    }
    .navigation_alternate_color {
        color: yellow !important;
    }
    .menu-container {
        top: 0;
        left: -100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.212);
        height: 100vh;
        align-items: flex-start;
        position: absolute;
        z-index: 10;
        transition-property: left;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .navigation_show {
        left: 0 !important;
        position: fixed;
    }
    .menu-content {
        width: 500px;
        height: 100vh;
        position: relative;
        z-index: 100;
        overflow: hidden;
    }
    .menu-list {
        padding: 20px;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        background: var(--main-bg-color);
        justify-content: flex-start;
    }
    .menu-list__item {
        overflow: visible;
        font-size: 25px;
        padding: 10px;
        margin-bottom: 10px;
        border: 0;
        min-width: 50px;
        position: relative;
        flex-grow: 0;
    }
    .menu-list__item:hover {
        content: none;
    }
    .text {
        padding: 10px;
        position: absolute;
        font-size: 20px;
        transition: bottom 400ms ease-in;
        width: max-content;
        top: 0;
        left: 53%;
    }
    .menu-list__item:hover {
        border: 0;
        box-shadow: none;
        top: 0;
        color: rgb(251, 255, 35);
    }
    .menu-list__item::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 8%;
        bottom: 0;
        left: 50%;
        border-radius: 0 5px;
        z-index: -1;
        transition-property: left, width;
        transition-duration: 1500ms;
        transition-delay: 350ms;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .menu-list__item:hover::after {
        width: 200%;
        left: -50%;
        bottom: -15%;
        background: rgb(0, 0, 0);
    }
}