:root {
    --main-bg-color: #0d47a1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.notification {
    position: absolute;
    opacity: 0;
    z-index: 100;
    margin: 9px 0 0 9px;
    align-self: start;
    min-width: 200px;
    height: auto;
    min-height: 50px;
    background: #c8c6c63d;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
    filter: drop-shadow(-1px 4px 1px #0000003d);
    color: rgb(255, 255, 255);
    animation: notification_move 6000ms ease 100ms 1 normal;
}

@keyframes notification_move {
    0% {
        left: -100%;
        opacity: 0;
    }
    5% {
        opacity: .5;
    }
    10% {
        left: 0;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
}

.login__container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login__img {
    position: relative;
    height: 150px;
    width: 100%;
    background: var(--main-bg-color);
    align-self: flex-start;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 15px 15px;
}

.login__img img {
    height: 100%;
    padding: 5px;
}


/* #img2::before,
#img2::after,
#img2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
*/

#img2 {
    width: max-content;
    height: 95%;
    margin: auto;
    color: #ffffff;
    border: 4px inset white;
    border-radius: 50%;
    animation: rotate 1450ms cubic-bezier(.46, .03, .52, .96) infinite backwards;
}

@keyframes rotate {
    0% {
        background: #0066ff;
    }
    100% {
        transform: rotateY(360deg);
        transform-style: preserve-3d;
        border-radius: 50%;
        background: #1900ff;
    }
}

#img1 {
    display: none;
}

.login__form {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* justify-content: center; */
}

.login__form form {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

.login__form input {
    margin-bottom: 20px;
    padding: 5px;
    height: 35px;
    font-size: 18px;
    border: 0;
    background: transparent;
    border-bottom: 2px solid rgb(0 0 0);
}

.login__form input:focus {
    border: 1px solid rgb(0, 0, 0);
}

.login__form_name,
.login__form_password {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.lbl_name,
.lbl_contraseña {
    position: relative;
    background: rgba(255, 253, 253, 0);
    left: 5px;
    width: max-content;
    height: min-content;
    top: -46px;
    color: #000000b0;
    transition-property: top, color;
    transition-duration: 250ms;
    transition-delay: 100ms;
    border-radius: 5px;
    padding: 0 5px;
    z-index: -1;
}

.name:focus+.lbl_name {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    top: -70px;
    z-index: 100;
}

.password:focus+.lbl_contraseña {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    top: -70px;
    z-index: 100;
}

.login__form_btn {
    width: 40%;
    height: 20px;
    margin: auto;
    margin-bottom: auto;
    background: var(--main-bg-color) !important;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255) !important;
    border-radius: 20px !important;
    transition: transform 400ms;
}

.login__form_btn:active {
    transform: scale(.9);
}

.login__links {
    text-align: center;
    font-size: 17px;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
}

.login__links a {
    color: rgb(0, 0, 0);
    padding: 5px;
    flex-grow: 1;
}

.fijar {
    top: -70px;
    z-index: 10;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid;
    z-index: 100;
}

.bordes {
    border: 1px solid rgb(0, 0, 0) !important;
}

@media screen and (min-width:650px) {
    .notification {
        background: var(--main-bg-color);
    }
    .login__container {
        background: var(--main-bg-color);
        width: 700px;
        height: 450px;
        margin: auto;
        border-radius: 15px;
        box-shadow: -3px 3px 8px #797a7b;
        flex-direction: row-reverse;
    }
    .login__img {
        width: 40%;
        height: 100%;
        padding: 0;
    }
    .login__img img {
        width: 100%;
        height: 100%;
    }
    #img1 {
        display: block;
    }
    #img2 {
        display: none;
    }
    .login__form {
        position: relative;
        width: 60%;
        height: 100%;
        background: rgb(255, 255, 255);
        border-radius: 15px 0px 0px 15px;
        margin: 1px;
    }
    .login__form form {
        padding: 5px 10px;
    }
    .login__form input {
        margin-bottom: 10px;
        width: 100%;
        height: 35px;
        font-size: 18px;
        background: transparent;
    }
    .lbl_name,
    .lbl_contraseña {
        padding: 5px;
        top: -43px;
    }
    .login__form_btn {
        width: 30% !important;
        height: 20px;
        margin: auto;
        background: var(--main-bg-color);
        color: rgb(255, 255, 255);
    }
    .fijar {
        top: -70px;
        border: 0;
    }
}