:root {
    --main-bg-color: #0d47a1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.notification {
    position: absolute;
    opacity: 0;
    z-index: 100;
    margin: 9px 0 0 9px;
    align-self: start;
    min-width: 200px;
    height: auto;
    min-height: 50px;
    background: #c8c6c63d;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
    filter: drop-shadow(-1px 4px 1px #0000003d);
    color: rgb(255, 255, 255);
    animation: notification_move 6000ms ease 100ms 1 normal;
}

.switch {
    position: relative;
    display: flex;
    width: 50px;
    height: 19px;
    padding: 1px;
    margin: 5px;
}

.switch::after {
    content: "Mantener sesion iniciada";
    position: absolute;
    left: 100%;
    width: max-content;
    margin-left: 8px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    top: -3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.resetPassword {
    width: 100vw;
    height: 100vh;
    transform: scale(0);
    opacity: 0;
    display: flex;
    transition-property: all;
    transition-duration: 700ms;
    transition-delay: 100ms;
}

.resetPasswordShow {
    position: relative;
    backdrop-filter: blur(1.5px);
    display: flex;
    transform: scale(1);
    opacity: 1;
    background: rgba(0, 0, 0, 0.301);
}

.resetPassword-container {
    margin: auto;
    width: 300px;
    min-width: 200px;
    background: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.resetPassword-form {
    display: flex;
    flex-direction: column;
    position: relative;
}

#email,
#newPassword {
    padding: 4px;
    margin: 5px 2px;
    border: 0;
    border-bottom: 1px solid;
}

.closeWindow {
    font-size: 25px;
    cursor: pointer;
    width: min-content;
    align-self: end;
}

@keyframes notification_move {
    0% {
        left: -100%;
        opacity: 0;
    }
    5% {
        opacity: .5;
    }
    10% {
        left: 0;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
}

.login__container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login__img {
    position: relative;
    height: 150px;
    width: 100%;
    background: var(--main-bg-color);
    align-self: flex-start;
    text-align: center;
    padding: 10px;
    border-radius: 0 15px 15px 0;
}

.login__img img {
    height: 100%;
    padding: 5px;
}

#img2 {
    width: max-content;
    height: 95%;
    margin: auto;
    color: #ffffff;
    border: 4px inset white;
    border-radius: 50%;
    animation: rotate 1450ms cubic-bezier(.46, .03, .52, .96) infinite backwards;
}

@keyframes rotate {
    0% {
        background: #0066ff;
    }
    100% {
        transform: rotateY(360deg);
        transform-style: preserve-3d;
        border-radius: 50%;
        background: #1900ff;
    }
}

#img1 {
    display: none;
}

.login__form {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.login__form form {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

.login__form input {
    margin-bottom: 20px;
    padding: 5px;
    height: 35px;
    font-size: 18px;
    border: 0;
    background: transparent;
    border-bottom: 2px solid rgb(0 0 0);
}

.login__form input:focus {
    border: 1px solid rgb(0, 0, 0);
}

.login__form_name,
.login__form_password {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.lbl_name,
.lbl_contraseña {
    position: relative;
    background: rgba(255, 253, 253, 0);
    left: 5px;
    width: max-content;
    height: min-content;
    top: -46px;
    color: #000000b0;
    transition-property: top, color;
    transition-duration: 250ms;
    transition-delay: 100ms;
    border-radius: 5px;
    padding: 0 5px;
    z-index: -1;
}

.name:focus+.lbl_name {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    top: -70px;
    z-index: 100;
}

.password:focus+.lbl_contraseña {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    top: -70px;
    z-index: 100;
}

.login__form_btn {
    width: 40%;
    height: 20px;
    margin: auto;
    margin-bottom: auto;
    background: var(--main-bg-color) !important;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255) !important;
    border-radius: 20px !important;
    transition: transform 400ms;
}

.login__form_btn:active {
    transform: scale(.9);
}

.login__links {
    text-align: center;
    font-size: 17px;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
}

.login__links a {
    color: rgb(0, 0, 0);
    padding: 5px;
    flex-grow: 1;
}

.fijar {
    top: -70px;
    z-index: 10;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid;
    z-index: 100;
}

.bordes {
    border: 1px solid rgb(0, 0, 0) !important;
}

@media screen and (min-width:650px) {
    .notification {
        background: var(--main-bg-color);
    }
    .login__container {
        background: var(--main-bg-color);
        width: 700px;
        height: 450px;
        margin: auto;
        border-radius: 15px;
        box-shadow: -3px 3px 8px #797a7b;
        flex-direction: row-reverse;
    }
    .login__img {
        width: 40%;
        height: 100%;
        padding: 0;
    }
    .login__img img {
        width: 100%;
        height: 100%;
    }
    #img1 {
        display: block;
    }
    #img2 {
        display: none;
    }
    .login__form {
        position: relative;
        width: 60%;
        height: 100%;
        background: rgb(255, 255, 255);
        border-radius: 15px 0px 0px 15px;
        margin: 1px;
    }
    .login__form form {
        padding: 5px 10px;
    }
    .login__form input {
        margin-bottom: 10px;
        width: 100%;
        height: 35px;
        font-size: 18px;
        background: transparent;
    }
    .lbl_name,
    .lbl_contraseña {
        padding: 5px;
        top: -43px;
    }
    .login__form_btn {
        width: 30% !important;
        height: 20px;
        margin: auto;
        background: var(--main-bg-color);
        color: rgb(255, 255, 255);
    }
    .fijar {
        top: -70px;
        border: 0;
    }
}