.mensage-show {
    height: 100vh;
    display: flex;
}

.mensage-show__container {
    margin: auto;
    width: 80%;
    min-width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 10px 5px;
}

.lbl {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px 25px 25px 0;
    padding: 9px;
    margin: 10px;
    box-shadow: 0px 2px 3px #aeadad;
    border-radius: 11px;
}

.message-show__body {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 5px;
}

.img {
    width: 100%;
    height: 200px;
    min-width: 300px;
}

.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.div {
    display: flex;
    width: max-content;
    margin: auto;
}

.show__form_btn {
    padding: 5px;
    background: var(--main-bg-color) !important;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255) !important;
    border-radius: 20px !important;
    transition: transform 400ms;
    font-size: 17px;
}

.show__form_btn:active {
    transform: scale(.9);
}

@media screen and (min-width:650px) {
    .mensage-show__container {
        width: 50%;
        height: auto;
        overflow: unset;
    }
    .message-show__body {
        width: 50%;
        margin: auto;
    }
    .img {
        height: 250px;
        border: 8px double #0d47a18c;
        padding: 3px;
    }
}