* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.new-messages {
    height: 90vh;
    max-height: 100vh;
    overflow-y: auto;
}

.new-messages__container {
    /* background: rgb(17, 0, 255); */
    display: flex;
    padding: 2px;
    margin: 0 10px;
    flex-direction: column;
    margin-top: 10px;
}

.new-messages__link {
    text-align: center;
    display: block;
    background: #adadad63;
    padding: 5px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 800;
    transition-property: transform, background;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}

.new-messages__link:active {
    transform: scale(0.9);
    background: #afafaf63;
}

.new-messages__link:hover {
    background: #86868663;
}

.new-messages__information {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 2px 2px;
    border-radius: 10px;
    border: 0;
    padding: 5px;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(0deg, #c6c9fc, #c6c9fc 1px, #e5e5f7 1px, #e5e5f7);
}

.new-messages__information label {
    padding: 3px;
}

.new-messages__title {
    font-size: 15px;
}

.new-messages_actions {
    display: flex;
    margin-top: 2px;
    padding: 2px;
    justify-content: center;
    align-content: center;
    border-radius: 0 0 5px 5px;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}

.new-messages_edit,
.new-messages_show,
.new-messages_delete {
    width: 35px;
    height: 35px;
    background: rgb(255, 255, 255);
    margin: 4px;
    border-radius: 50%;
    box-shadow: -1px 2px 4px #4a4a4a8c;
    align-self: center;
    text-align: center;
    padding: 7px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 0px rgb(0, 0, 0);
    transition: transform 100ms ease-in;
}

.new-messages_edit {
    background: #4caf50;
}

.new-messages_show {
    background: #3f51b5;
}

.new-messages_delete {
    background: #ff0000;
}

.new-messages_edit:active {
    transform: scale(0.9);
    background: #5dbe60;
}

.new-messages_show:active {
    transform: scale(0.9);
    background: #5367d6;
}

.new-messages_delete:active {
    transform: scale(0.9);
    background: #ee2f2f;
}

.form_eliminar button {
    background: transparent;
    border: 0;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

@media screen and (min-width:650px) {
    .new-messages__container {
        flex-direction: row;
    }
    .new-messages__information {
        flex-grow: 1;
    }
    .new-messages_actions {
        margin: 5px 5px 2px 2px;
        width: 250px;
    }
    .new-messages_edit,
    .new-messages_show,
    .new-messages_delete {
        width: 43px;
        height: 43px;
        font-size: 26px;
    }
    .form_eliminar button {
        font-size: 26px;
    }
}