:root {
    --main-bg-color: #0d47a1;
}

.c1,
.c2 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: max-content;
}

.mensaje-create__form {
    width: 67vw;
    height: 88vh;
    min-width: 300px;
    margin: auto;
    display: grid;
    /* grid-template-columns: 500px 500px; */
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    grid-template-rows: max-content;
    grid-gap: 5px;
    justify-content: center;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(155, 154, 154);
    overflow: auto;
}

.mensaje-create__form_body {
    resize: none;
    padding: 3px;
    margin-top: 15px;
}

.mensaje-create__form_title {
    padding: 3px;
    height: 30px;
}

.mensaje-create__form_file {
    padding: 5px;
    margin-top: 15px;
}

.mensaje-create__form_lbl_adjuntar {
    padding: 5px;
    margin-top: 15px;
    border: 1px solid rgb(0, 0, 0);
}

.mensaje-create__form-preview {
    padding: 3px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 15px;
    width: 40%;
}

.mensaje-create__form_lbl {
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
}

.mensaje-create__form_select_carrera {
    padding: 5px;
    margin-top: 15px;
}

.mensaje-create__form_select_semestre {
    padding: 5px;
    margin-top: 15px;
}

.mensaje-create__form_check {
    padding: 5px;
    margin-top: 15px;
}

.btn_en {
    width: 30%;
    margin: 10px auto;
    border: 1px solid !important;
    padding: 5px;
    background: transparent;
    height: min-content;
}

.multiselect {
    width: 300px;
    position: relative;
}

.select2 {
    width: max-content;
    position: relative;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.checkboxes {
    width: 100%;
    display: none;
    border: 1px solid;
    padding: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    position: relative;
    background: rgb(255, 255, 255);
    height: max-content;
    z-index: 100;
}

.checkboxes label {
    border: 0 !important;
    display: block;
    padding: 3px !important;
    width: 100% !important;
}

.checkboxes label:hover {
    background: #b3cef5;
}

.container-input {
    background: var(--main-bg-color);
    width: max-content;
    padding: 3px;
    margin-top: 10px;
}

.inputfile {
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    padding: 6px;
    border-radius: 6px;
}

.inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Lato';
}


/* style 1 */

.inputfile-1+label {
    color: #fff;
    width: 100%;
}

.inputfile-1:focus+label,
.inputfile-1.has-focus+label,
.inputfile-1+label:hover {
    background-color: #006efd;
}

@media screen and (min-width:650px) {
    .mensaje-create__form {
        height: auto;
        margin-bottom: 20px;
    }
    .checkboxes {
        position: absolute;
        bottom: 0;
        top: 100%;
    }
}