.mensage-show {
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.mensage-show__container {
    width: 100%;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.lbl {
    text-align: justify;
    padding: 2px;
}

.lbl b {
    font-size: 17px;
}

.img {
    height: min-content;
    width: 100%;
}

.img img {
    width: 90%;
    object-fit: scale-down;
    object-position: center;
    display: block;
    margin: auto;
    border-radius: 5px;
}

.show__form_btn {
    padding: 5px;
    background: var(--main-bg-color) !important;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255) !important;
    border-radius: 20px !important;
    transition: transform 400ms;
    font-size: 17px;
}

.show__form_btn:active {
    transform: scale(.9);
}

@media screen and (min-width:650px) {
    .lbl b {
        font-size: 20px;
    }
    .img img {
        height: 80%;
        width: 60%;
    }
}