* {
    padding: 0;
    margin: 0;
}

.messages-edit__form {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    min-width: 300px;
    padding: 10px 20px;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: 1px 1px 4px rgb(155, 154, 154);
    height: 88vh;
}

.container {
    flex-grow: 1;
    padding: 5px;
    margin-right: 3px;
}

.messages-edit__form_input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid;
}

.container_image {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

.container_image input {
    padding: 3px;
}

.container_image label {
    height: min-content;
    border: 1px solid;
    padding: 5px;
}

.container_segmento {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
}

.container_segmento label {
    width: 100%;
    padding: 2px;
    margin: 5px;
    border-bottom: 1px solid;
}

.mensaje-edit__form_select {
    flex-grow: 1;
    min-width: 100%;
}

.mensaje-edit__form_select:nth-child(4) {
    flex-grow: 0;
    min-width: min-content;
}

.container_segmento span {
    margin-top: 5px;
    width: 100%;
}

.save {
    margin: 5px auto;
    width: 40%;
    padding: 5px;
    font-size: 16px;
    background: transparent;
    border: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: min-content;
}

@media screen and (min-width:650px) {
    .messages-edit__form {
        position: static;
        margin-top: 30px;
        height: auto;
    }
    .container_image label {
        width: max-content;
    }
    .container_segmento {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }
    .container_segmento label {
        width: 25%;
    }
    .mensaje-edit__form_select {
        flex-grow: 0;
        min-width: 300px;
        max-width: min-content;
    }
    .save {
        margin: 5px auto;
        width: 20%;
        padding: 5px;
        font-size: 16px;
        background: transparent;
        border: 0;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
}