* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.user-list {
    height: 90vh;
    overflow-y: scroll;
}

.user-list__table_container {
    width: 100vw;
    display: grid;
    grid-template-columns: max-content repeat(2, minmax(max-content, 1fr));
    grid-auto-rows: 30px;
    grid-auto-flow: row;
    grid-row-gap: 3px;
    overflow-x: auto;
    padding: 5px;
    position: relative;
}

.user-list__table_item:nth-child(n+4) {
    display: none;
}

.user-list__viewmore {
    padding: 2px !important;
    float: right;
    margin-left: 2px;
}

.user-list__table_header:first-child {
    grid-column: 1/ span 3;
}

.user-list__create {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.user-list__table_header:first-child:hover {
    background: rgb(160, 160, 160);
}

.user-list__table_header:nth-child(n+5) {
    display: none;
}

.user-list__table_header,
.user-list__table_item {
    padding: 4px;
    text-align: center;
    border-bottom: 1px solid;
}

.user-list__table_header {
    background: #0d47a1b3;
    font-size: 16px;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.user-list__table_row {
    display: contents;
}

.user-list__table_item {
    padding: 2px;
}

.user-list__table_item i {
    padding: 0 5px;
    font-size: 20px;
}

.more_information {
    display: none;
}

.more_information ul {
    text-align: center;
    font-size: 20px;
    padding: 3px 2px;
}

.mostrar {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    margin: 5px;
    background: #c7c8ca;
    /* left: -116%; */
    left: 0;
    /* top: 120px; */
    margin: 11px 0;
    width: 100%;
    text-align: start;
    padding: 0 10px;
    animation: showText 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s 1 forwards;
}

@keyframes showText {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

.eliminar {
    font-size: 17px;
    padding: 4px;
    text-align: center;
    border: 0;
    background: transparent;
    height: 21px;
    cursor: pointer;
}


/* .user_selected {
    border-radius: 5px 5px 0 0;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.281);
    top: -10px;
    color: rgb(251, 255, 35);
}

.user_selected>.text {
    bottom: 10%;
} */

@media screen and (min-width:650px) {
    .user-list__table_header {
        background: rebeccapurple;
        font-size: 20px;
        font-weight: 800;
    }
    .user-list__table_container {
        width: 100vw;
        grid-template-columns: repeat(8, minmax(max-content, 1fr));
        margin: auto;
    }
    .user-list__table_item {
        font-size: 17px;
    }
    .show {
        opacity: 0;
    }
    .user-list__table_item:nth-child(n+4) {
        display: inline;
    }
    .user-list__table_header:nth-child(n+4) {
        display: block;
    }
    .user-list__table_header:first-child {
        grid-column: 1/ span 8;
    }
    .user-list__viewmore {
        display: none;
    }
    .more_information {
        display: none;
    }
    .user-list__table_row:hover span {
        background-color: #0d47a11f;
        cursor: pointer;
    }
}