* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-list__table_container {
    width: 100vw;
    margin: 15px 0;
    display: grid;
    grid-template-columns: max-content repeat(2, minmax(max-content, 1fr));
    grid-auto-rows: 30px;
    grid-auto-flow: row;
    grid-row-gap: 3px;
    overflow-x: auto;
    padding: 5px;
}

.user-list__table_item:nth-child(n+4) {
    display: none;
}

.user-list__viewmore {
    background: #dbeaf4;
    padding: 2px !important;
    float: right;
    margin-left: 2px;
}

.user-list__table_header:first-child {
    grid-column: 1/ span 3;
}

.user-list__create {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.user-list__table_header:nth-child(n+5) {
    display: none;
}

.user-list__table_header,
.user-list__table_item {
    background: rebeccapurple;
    padding: 4px;
    text-align: center;
}

.user-list__table_header {
    background: rebeccapurple;
    font-size: 16px;
    font-weight: 800;
}

.user-list__table_row {
    display: contents;
}

.user-list__table_item {
    background: red;
}

.user-list__table_row:hover span {
    background-color: #dbeaf4;
    cursor: pointer;
    border-bottom: 5px solid rgb(70, 247, 0);
}

.more_information {
    display: none;
}

.mostrar {
    display: block;
    position: fixed;
    z-index: 100;
    margin: 5px;
    background: #931515;
    /* left: -116%; */
    left: 0;
    /* top: 120px; */
    margin: 11px 0;
    width: 100%;
    text-align: start;
    padding: 0 10px;
}

@media screen and (min-width:650px) {
    .user-list__table_header {
        background: rebeccapurple;
        font-size: 20px;
        font-weight: 800;
    }
    .user-list__table_container {
        width: 95vw;
        grid-template-columns: repeat(7, minmax(max-content, 1fr));
        margin: 20px auto;
    }
    .user-list__table_item {
        font-size: 17px;
    }
    .user-list__table_item:nth-child(n+4) {
        display: inline;
    }
    .user-list__table_header:nth-child(n+4) {
        display: block;
    }
    .user-list__table_header:first-child {
        grid-column: 1/ span 7;
    }
    .user-list__viewmore {
        display: none;
    }
    .more_information {
        display: none;
    }
}