:root {
    --main-bg-color: #0d47a1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.user-register__container {
    width: 80vw;
    min-width: 300px;
    height: 60vh;
    margin: 40px auto;
    box-shadow: 1px 1px 4px rgb(155, 154, 154);
    border-radius: 5px;
    /* overflow-x: hidden; */
    justify-content: space-around;
}

.div-item_container {
    height: 30px;
    position: relative;
    z-index: 1;
    width: min-content;
    /* flex-grow: 1; */
}

.user-select {
    display: flex;
    font-size: 20px;
    height: 40px;
    position: relative;
}

#alumno,
#empleado {
    width: 50%;
    border: none;
    padding: 4px;
    background: transparent;
}

.btn__selected {
    background: #dad9d9 !important;
    position: relative;
}

.btn__selected::before {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    bottom: 0;
    animation: c 500ms ease-in 0ms 1;
    width: 100%;
    left: 0;
    background: linear-gradient(90deg, rgb(198, 198, 198), rgb(13, 71, 161));
}

.desabled {
    cursor: not-allowed;
    background-color: rgb(229, 229, 229) !important;
    pointer-events: none;
}

@keyframes c {
    0% {
        width: 0;
        left: 50%;
    }
    100% {
        width: 100%;
        left: 0;
        background: linear-gradient(90deg, rgb(198, 198, 198), rgb(13, 71, 161));
    }
}

.notification {
    position: absolute;
    opacity: 0;
    z-index: 100;
    margin: 9px 0 0 9px;
    align-self: start;
    min-width: 200px;
    height: auto;
    min-height: 50px;
    background: #c8c6c63d;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
    filter: drop-shadow(-1px 4px 1px #0000003d);
    color: rgb(255, 255, 255);
    animation: notification_move 6000ms ease 100ms 1 normal;
}

@keyframes notification_move {
    0% {
        left: -100%;
        opacity: 0;
    }
    5% {
        opacity: .5;
    }
    10% {
        left: 0;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.ocultar {
    display: none;
    opacity: 0;
    transition: all 1000ms ease-in 100ms;
}

@keyframes notification_move {
    0% {
        left: -100%;
        opacity: 0;
    }
    5% {
        opacity: .5;
    }
    10% {
        left: 0;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.user-register__form {
    height: 80%;
    display: flex;
    /* flex-direction: column;
    width: 350px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    padding: 20px; */
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    overflow-y: auto;
    position: relative;
}

.user-register__form input {
    height: 30px;
    padding: 3px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.616);
    border: 0;
    border-bottom: 1px solid;
}

.user-register__form label {
    padding: 2px;
    font-size: 15px;
    border-radius: 5px;
    width: max-content;
    position: relative;
    top: -27px;
    background: rgb(255, 255, 255);
    color: #000000b0;
    left: 5px;
    transition-property: top, color;
    transition-duration: 250ms;
    transition-delay: 100ms;
    z-index: -1;
}

.input:focus+.lbl {
    top: -45px;
    z-index: 100;
    color: rgb(0, 0, 0);
}

.fijar {
    top: -45px !important;
    z-index: 100 !important;
    color: rgb(0, 0, 0) !important;
}

.btn {
    width: 80%;
    margin: 10px auto;
    border: 1px solid !important;
}

@media screen and (min-width:650px) {
    .user-register__container {
        width: 650px;
        height: 450px;
        /* overflow-x: hidden; */
        justify-content: space-around;
    }
    .user-register__form {
        height: 90%;
        overflow: unset;
    }
    .div-item_container {
        margin-right: 10px;
    }
}