* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.users-list {
    overflow: auto;
    padding: 5px;
    height: 100%;
}

.form-filtro__container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    position: sticky;
    top: 0;
    background: rgb(255, 255, 255);
    z-index: 2;
}

.form-filtro {
    flex-grow: 1;
    align-self: center;
    flex-grow: 1;
    text-align: end;
}

.btn-form {
    padding: 4px;
    background: blue;
    border: 1px solid;
    border-radius: 10px;
    color: white;
    font-weight: 800;
}

.form-search {
    padding: 5px;
    flex-grow: 1;
    text-align: right;
}

.form-search__numControl {
    padding: 3px;
    border-radius: 10px;
    margin-right: 5px;
    flex-grow: 1;
    text-align: end;
}

.btn-form__search {
    margin: 2px;
    background: white;
    padding: 5px;
    font-size: 17px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.btn-select__container {
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
}

.btn-select {
    flex-grow: 1;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    background: transparent;
    border: 0;
    cursor: pointer;
    height: 35px;
}


/*Estilos de la tabla*/

.table> :not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table {
    width: 100vw;
    border-collapse: collapse;
}

.table td,
.table.th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

.table.th {
    background-color: darkblue;
    color: #ffffff;
}

.table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.user-list__table_item {
    padding: 4px;
    text-align: center;
    font-size: 17px;
}

.user-list__table_item i {
    padding: 0 5px;
    font-size: 20px;
    position: relative;
}

.eliminar {
    font-size: 17px;
    padding: 4px;
    text-align: center;
    border: 0;
    background: transparent;
    height: 21px;
    cursor: pointer;
}

.user-list__create {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
}

.user-list__table_header {
    background: #0d47a1b3;
    font-size: 16px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    padding: 4px;
    text-align: center;
    border-bottom: 1px solid;
    margin-top: 3px;
}

@media screen and (max-width:650px) {
    .table> :not(caption)>*>* {
        padding: .5rem .5rem;
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }
    .table thead {
        display: none;
    }
    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
        border-top: 0 !important;
    }
    .table tr {
        margin-bottom: 15px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    }
    .table td {
        text-align: left;
        /* padding-left: 50%; */
        position: relative;
    }
    .table td::before {
        content: attr(data-label);
        position: relative;
        left: 0;
        padding: 0 5px 0 15px;
        font-size: 15px;
        font-weight: bold;
    }
    .table tbody {
        margin-top: 10px;
    }
    .user-list__table_item i::after {
        content: "Editar";
        position: relative;
    }
    .eliminar::after {
        content: "Eliminar";
        position: relative;
    }
    .form-search__numControl {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
    }
    .form-filtro__container select {
        width: 100%;
        margin: 2px 0;
    }
    .form-filtro__container button {
        width: 100%;
    }
    .form-filtro__container input {
        flex-grow: 1;
    }
}